body {
  font-family: Arial, sens-serif;
  padding: 0;
  margin: 0;
}

header {
  background: url(../img/first-bg.jpg) no-repeat center top/cover;
  padding-bottom: 20px;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

nav {
  float: right;
  margin-top: 40px;
}

.menu li {
  display: block;
  margin-right: 20px;
  float: left;
}

.menu a {
  float: right;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

.logo {
  float: left;
}
