// Styling for the footer




a {
    color: #fdcc52;
	-webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    &:hover,
    &:focus {
        color: darken(#fdcc52, 10%);
    }
}